//报表底部显示数据来源
.oms2-report-float-right{
    position:absolute;
    right:0px;
    font-size: 10px;
    padding:5px;
    color:#f00;
}

//列表不存在时显示红色
.oms2-item-not-exist{
    color:#f00;
}

//不显示瑞信标题时返回按钮的位置
.oms2-horizontal-back{
    font-size:24px;
    position:absolute;
    left:10px;
    top:10px;
}



