@import "./variables.scss";

//解决mint-ui 与 bootstrap样式冲突导致标题栏字体偏上的问题
.mint-button{
    padding-top:10px !important;
}
.mint-header-title{
    padding-top:10px !important;
    font-size: 18px !important;
}


//设置timepicker的样式 宽度最大为屏幕宽度的80%
.cov-date-body{
    max-width: 80% !important;
    max-height: 80% !important;
}


//设置字体样式
p, i, .fa, label,select , option,a, input,small{
    font-size:16px;
}
select{
    height:auto !important;
}

//文字默认大小：16px 为了屏幕适配造成某些文字不合适时调用，可以直接使用
.oms2-font-size{
    font-size:16px !important;

}




